// Colors
$dark-grey: #1a1a1a;
$dark-grey-2: #121212;
$light-grey: #ccc;
$medium-grey: #444;
$yellow: #f4da40;
$yellow-lighter: #ffe86b;
$black: #000;
$white: #f0f0f0;
$red: #e63946;


$page-bg: $dark-grey;
$header-bg: $dark-grey-2;
$card-bg: #1c1c1c;
$text: $white;


// Shared
$font-main: 'Segoe UI', sans-serif;

$transition: all 0.3s ease;